.notification-parent{width: 100%;
height: 100%;
position: fixed;
top:4rem;
background-color: rgba(147, 142, 142, 0.145);
backdrop-filter: blur(5px);
z-index: 5;}

.notification-child{width: 35%;
border-radius: 1rem;
position: absolute;
right: 2rem;
background-color: white;
padding: 2rem 2rem;
box-shadow: 5px 5px 5px grey;
}

.notification-wrapper{display: flex;
justify-content: space-between;
align-items: center;
padding: .5rem;
font-weight: 700;
}

.mark-read{color:blue}

.cancel-notification{font-size: 1.5rem;
color: red;
cursor: pointer;
}

.no-notification{
padding: 2rem;
font-weight: 700;
display: flex;
justify-content: center;
align-items: center;}

@media(max-width:1000px){
    .notification-child{width: 50%;
    position: absolute;
top: 1%;
left: 25%;}
}

@media(max-width:700px){
    .notification-child{width:90%;
    position: absolute;
    margin: auto;
top: 1%;
left:10%;}

}

@media(max-width:400px){
    .notification-parent{width: 80%;}
    .notification-child{width:90%;
}
.notification-wrapper{display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    font-weight: 200;
    font-size: .9rem;
}

}