*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-weight:600;
    --box-shadow:5px 5px 5px rgb(223, 212, 212);
   --padding-top: 1rem;
   --white-color: white;
   --black-color: black;
}